:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --background-grey: #f2f2f2;
    --basic-blue: #81b3d2;
    --basic-brown: #766357;
    --advantage-grey: #eeeeee;
    --brown-hover: #604e43;
    --brown-active: #503e33;
    --blue-hover: #669ec0;
    --blue-active: #5496bd;
    --copyright-link: #bdbbbc;
    --arrow-grey: #cacaca;
    --rate-grey: #666666;
    --background-footer: rgba(255, 255, 255, 0.9);
    --white-active: rgba(255, 255, 255, 0.3);
    --black-transparent: rgba(0, 0, 0, 0.3);
    --border-grey: #e5e5e5;
    --black-footer-transparent: rgba(0, 0, 0, 0.1);
    --box-shadow-container: rgba(0, 1, 1, 0.2);
    --toggle-grey: #ABABAB;
    --minus-grey: #A9A9A9;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans.woff2") format('woff2'), url("../fonts/PTSans.woff") format('woff');
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff2") format('woff2'), url("../fonts/PTSans-Bold.woff") format('woff');
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page-body {

    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--background-grey);
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--basic-white);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
    min-height: 100%;
    box-shadow: var(--box-shadow-container) 0px 5px 15px ;
}

/*header*/

.main-header {
    position: relative;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 29px;
    padding-left: 72px;
    padding-right: 72px;
}

.site-navigation-item {
  width: 264px;
  text-align: left;
}

.site-navigation-item:nth-child(4n-1),
.site-navigation-item:nth-child(4n) {
  text-align: right;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: max-content;
}

.site-navigation {
    margin: 0;
}

.site-navigation-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.site-navigation-link {
    color: var(--basic-black);
    line-height: 26px;
    font-weight: 700;
}

.site-navigation-link.navigation-link-active {
    color: var(--basic-brown);
}

/*footer*/

.main-footer {
    background-color: var(--background-footer);
    display: flex;
}

.footer-contacts-link {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.footer-social {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 53px;
    padding-bottom: 53px;
    width: 400px;
}

.footer-social-item {
  margin-right: 6px;
}

.footer-contacts {
  width: 400px;
    padding-top: 23px;
    padding-bottom: 23px;
}

.footer-copyright {
  width: 400px;
    padding-top: 43px;
    padding-bottom: 43px;
}

.social-button {
    background-color: var(--basic-blue);
    width: 46px;
    height: 48px;
    display: block;
    position: relative;
}

.footer-copyright-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.social-button:hover {
    background-color: var(--blue-hover);
}

.social-button:active {
    background-color: var(--blue-active);
}

.social-button:active svg {
    opacity: 0.3;
}

.footer-copyright-by {
    line-height: 26px;
}

.copyright-by-active {
    color: var(--black-footer-transparent);
}

.footer-copyright-link path {
    fill: var(--basic-black);
}

.footer-copyright-link:hover path {
    fill: var(--basic-blue);
}

.footer-copyright-link:active path {
    fill: var(--copyright-link);
}


/*main*/

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.promo {
    grid-column: 1/4;
}

.promo-background {
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 77px;
    margin-bottom: 42px;
}

.promo-background::after {
  content: "";
  display: block;
  width: 100%;
  height: 57px;
  background: url("../img/shape.svg") no-repeat center;
  margin-top: 23px;

}

.promo-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 43px;
    width: 500px;
}

.promo-subtitle {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 51px;
    width: 500px;
}

.advantages {
    grid-column: 1/4;
}

.advantage {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.advantage-wrapper,
.advantage-item {
    padding: 50px;
}

.advantage-title {
    font-size: 21px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 160px;
}

.advantage-number {
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantage-description {
  margin: 0 auto;
}

.advantages-list,
.feature-list {
    list-style: none;
}

.advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.feature-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.feature-item {
    padding-top: 61px;
    padding-bottom: 82px;
    padding-left: 65px;
    padding-right: 50px;
}

.feature-hotels::before {
  content: "";
  display: block;
  background: url("../img/icon-1.svg") no-repeat center;
  width: 100%;
  height: 72px;
  margin-bottom: 28px;
}

.feature-eat::before {
  content: "";
  display: block;
  background: url("../img/icon-3.svg") no-repeat center;
  width: 100%;
  height: 70px;
  margin-bottom: 28px;
}

.feature-souvenirs::before {
  content: "";
  display: block;
  background: url("../img/icon-2.svg") no-repeat center;
  width: 100%;
  height: 77px;
  margin-bottom: 28px;
}

.feature-title {
  margin: 0;
  margin-bottom: 25px;
}

.feature-description {
  margin: 0;
}

.advantage-item {
    background-color: var(--advantage-grey);
}

.search {
    grid-column: 1/4;
    padding-top: 58px;
    padding-left: 316px;
    padding-right: 316px;
}

.search-form-container {
  padding: 55px;
  font-weight: 700;
}

.search-title {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 28px;
}

.search-description {
    line-height: 24px;
    margin: 0;
    width: 425px;
    margin-left: 67px;
    margin-bottom: 48px;
    margin-right: 67px;
}

.search-button {
    color: var(--basic-white);
    background-color: var(--basic-brown);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    width: 568px;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

.arrival-date-inp,
.leaving-date-inp {
  margin: 0;
  padding: 0;
  position: relative;
  width: 346px;
  height: 38px;
  background-color: var(--background-grey);
  border: none;
  margin-bottom: 29px;
  font-size: 14px;
  font-weight: 700;
}

.hotel-search-age {
  display: flex;
  margin-bottom: 54px;
}

.btn-search-age {
  position: relative;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: var(--background-grey);
}

.inp-search-age {
  height: 38px;
    padding: 0;
    margin: 0;
    width: 38px;
    border: none;
    background-color: var(--background-grey);
    text-align: center;
}

.search-form input:placeholder-shown {
  color: var(--basic-black);
  opacity: 1;
}

.age {
  padding: 10px;
}

.btn-search-age:after {
  content: "";
  width: 12px;
  height: 3px;
  display: block;
  position: absolute;
  background-color: var(--minus-grey);
  right: 13px;
  cursor: pointer;
}

.search-button:hover {
    background-color: var(--brown-hover);
}

.search-button:active {
    background-color: var(--brown-active);
    color: var(--white-active);
}

.btn-to-find {
    background-color: var(--basic-blue);
    width: 458px;

}

.btn-to-find:hover {
  background-color: var(--blue-hover);
}

.btn-to-find:active {
  background-color: var(--blue-active);
  color: var(--white-active);
}




/*catalog*/

.filters {
    background: url("../img/background.jpg") no-repeat center;
    color: var(--basic-white);
}

.filters-form {
    display: flex;
    padding-top: 26px;
    padding-bottom: 32px;
    padding-left: 72px;
    padding-right: 72px;
}

.filters-field {
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-right: 119px;
}

.range-filter {
  position: relative;
  width: 317px;
}

.range-filter:before {
  content: "";
  width: 2px;
  height: 22px;
  position: absolute;
  display: block;
  top: 7px;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-bottom: 0 auto;
  background-color: var(--basic-white);
}

.filters-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.range-controls {
  position: relative;
  height: 21px;
  background-color: transparent;
  margin-bottom: 13px;
  padding-top: 19px;
  padding-left: 5px;
  padding-right: 5px;
}

.scale {
  height: 2px;
  background-color: var(--white-active);
}

.bar{
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 9px solid var(--basic-white);
  background-color: var(--toggle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-grey);
  cursor: pointer;
}

.toggle-max {
  left: 235px;
}

.price-controls {
  border: 2px solid;
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.min-price {
  display: flex;
    align-items: baseline;
    width: 50%;
    margin-right: 6px;
}

.max-price {
  display: flex;
    align-items: baseline;
    width: 50%;
    margin-left: 6px;
}

.range-price-from {
  width: 50%;
  text-align: right;
  margin-right: 2px;
}

.range-price-to {
  width: 50%;
  text-align: right;
  margin-left: 2px;
}

.min-price-inp,
.max-price-inp {
  background-color: transparent;
  border: none;
  color: var(--basic-white);
  width: 50%;
}


.filters-list {
    padding: 0;
    margin: 0;
}

.filters-item {
    list-style: none;
    margin-top: 25px;
    padding-left: 50px;
}

.filters-button {
    font-size: 14px;
    line-height: 21px;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    color: var(--basic-white);
    cursor: pointer;
}

.checkbox-title {
  position: relative;
  cursor: pointer;
}

.checkbox-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 27px;
  height: 23px;
  left: -45px;
  background: url("../img/checkbox-off.svg") no-repeat center;
  cursor: pointer;
}

.checkbox-filters:checked + .checkbox-title::before {
    background: url("../img/checkbox-on.svg") no-repeat center;
    left: -43px;
}

.results-wrapper{
    display: flex;
    grid-template-columns: min-content min-content 1fr 110px;
    border-bottom: var(--border-grey) solid 1px;
    margin: 0;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 73px;
    padding-right: 73px;
}

.sorting-link {
    display: inline;
}
.sorting {
    display: grid;
    grid-template-columns: 83px 83px auto;
    margin: auto 0;
    padding: 0;
}

.sorting-title {
}

.results-count {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    width: 117px;
    margin-right: 46px;
    min-width: 117px;
}

.sorting-title {
    font-size: 12px;
    line-height: 18px;
    margin-right: 40px;
}

.sorting {
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    margin: 0;
    text-align: left;
    display: flex;
    max-width: 750px;
    width: 100%;
}

.sorting-link {
    color: var(--basic-black);
    border-bottom: 1px dotted var(--basic-blue);
    color: var(--black);
    margin-right: 33px;
}

.sorting-link:hover {
    color: var(--basic-blue);
}

.sorting-link:active {
    color: var(--basic-black);
    opacity: 1;
    border-bottom: none;
}

.sorting-link.sorting-active {
    color: var(--basic-blue);
    opacity: 1;
    border-bottom: none;
}

.arrows {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    max-width: 34px;
    justify-content: space-between;
}

.increase {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 11px solid var(--arrow-grey);
    display: block;
}

.decrease {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 11px solid var(--arrow-grey);
    display: block;
}

.decrease.arrow-active {
    border-top: 11px solid var(--basic-blue);
}

.increase.arrow-active {
    border-bottom: 11px solid var(--basic-blue);
}

.increase:hover {
    border-bottom: 11px solid var(--basic-black);
}

.decrease:hover {
    border-top: 11px solid var(--basic-black);
}

.increase:active {
    border-bottom: 11px solid var(--basic-blue);
}

.decrease:active {
    border-top: 11px solid var(--basic-blue);
}

.options-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.options-item {
  display: grid;
  grid-template-columns: 165px 1fr 200px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 70px;
  border-bottom: var(--border-grey) solid 1px;
}

.options-content {
  text-align: left;
}

.options-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 7px;
}

.options-content-description {
  display: inline-grid;
  grid-template-columns: 110px 145px;
  grid-column-gap: 6px;
  grid-row-gap: 15px;
}

.options-type {
  margin: 0;
}

.options-price {
  margin: 0;
}


.link-more,
.link-book {
    font-weight: 700;
    color: var(--basic-white);
    display: block;
    padding-top: 3px;
    padding-left: 16px;
}

.link-more {
    background-color: var(--basic-blue);
}

.link-more:hover {
    background-color: var(--blue-hover);
}

.link-more:active {
    background-color: var(--blue-active);
    color: var(--white-active);
}

.link-book {
    background-color: var(--basic-brown);
}

.link-book:hover {
    background-color: var(--brown-hover);
}

.link-book:active {
    background-color: var(--brown-active);
    color: var(--white-active);
}

.options-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.star-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 47px;
    padding-right: 5px;
}

.star {
    margin-bottom: 10px;
    position: relative;
    width: 0;
    height: 0;
    border-bottom: 7px solid var(--basic-blue);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    margin-left: 15px;
    margin-left: 25px;
}
.star:before,
.star:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
}
.star:before {
    top: 6px;
    left: -9px;
    border-right: 9px solid transparent;
    border-bottom: 6px solid var(--basic-blue);
    border-left: 9px solid transparent;
    transform: rotate(35deg);
}
.star:after {
    top: 6px;
    left: -9px;
    border-right: 9px solid transparent;
    border-bottom: 6px solid var(--basic-blue);
    border-left: 9px solid transparent;
    transform: rotate(-35deg);
}

.rate {
    color: var(--rate-grey);
    background-color: var(--background-grey);
    max-width: 110px;
    margin: 0;
    width: 100%;
    margin-left: auto;
}

