:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --background-grey: #f2f2f2;
    --basic-blue: #81b3d2;
    --basic-brown: #766357;
    --advantage-grey: #eeeeee;
    --brown-hover: #604e43;
    --brown-active: #503e33;
    --blue-hover: #669ec0;
    --blue-active: #5496bd;
    --copyright-link: #bdbbbc;
    --arrow-grey: #cacaca;
    --rate-grey: #666666;
    --background-footer: rgba(255, 255, 255, 0.9);
    --white-active: rgba(255, 255, 255, 0.3);
    --black-transparent: rgba(0, 0, 0, 0.3);
    --border-grey: #e5e5e5;
    --black-footer-transparent: rgba(0, 0, 0, 0.1);
    --box-shadow-container: rgba(0, 1, 1, 0.2);
    --box-shadow-search-form: rgba(0, 1, 1, 0.15);
    --toggle-grey: #ababab;
    --minus-grey: #a9a9a9;
    --input-grey: #ebebeb;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page-body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--background-grey);
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--basic-white);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
    min-height: 100%;
    box-shadow: var(--box-shadow-container) 0px 5px 15px;
}

/*header*/

.main-header {
    position: relative;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 29px;
    padding-left: 72px;
    padding-right: 72px;
}

.site-navigation-item {
    width: 20%;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 15px;
}

.site-navigation-item:nth-child(4n-3) {
    margin-right: 1.5%;
}

.site-navigation-item:nth-child(4n) {
    margin-left: 1.5%;
}

.site-navigation-item:nth-child(4n-2) {
    margin-right: 8.5%;
}

.site-navigation-item:nth-child(4n-1) {
    margin-left: 8.5%;
}

.site-navigation-item:nth-child(4n-1),
.site-navigation-item:nth-child(4n) {
    text-align: right;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: max-content;
}

.site-navigation {
    margin: 0;
}

.site-navigation-link {
    color: var(--basic-black);
    line-height: 26px;
    font-weight: 700;
}

.site-navigation-link:hover {
    color: var(--basic-blue);
}

.site-navigation-link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.site-navigation-item .navigation-link-active {
    color: var(--basic-brown);
}

/*footer*/

.main-footer {
    background-color: var(--background-footer);
    display: flex;
    z-index: 1;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 120px;
}

.main-footer-over {
    margin-top: -120px;
}

.footer-contacts {
    width: 100%;
    padding-top: 23px;
}

.footer-contacts-wrapper {
    margin-bottom: 9px;
}

.footer-contacts-link {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.footer-social {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 33px;
    width: 100%;
}

.footer-social-item {
    margin: 3px;
}

.footer-copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button {
    background-color: var(--basic-blue);
    width: 46px;
    height: 48px;
    display: block;
    position: relative;
}

.footer-copyright-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.social-button:hover {
    background-color: var(--blue-hover);
}

.social-button:active {
    background-color: var(--blue-active);
}

.social-button:active svg {
    opacity: 0.3;
}

.footer-copyright-by {
    line-height: 26px;
    margin-right: 15px;
}

.footer-copyright-link path {
    fill: var(--basic-black);
}

.footer-copyright-link:hover path {
    fill: var(--basic-blue);
}

.footer-copyright-link:active path {
    fill: var(--copyright-link);
}

/*main*/

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.promo {
    grid-column: 1/4;
}

.promo-background {
    background-image: url("../img/background-photo.jpg");
    background-color: var(--blue-active);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 77px;
    margin-bottom: 42px;
}

.promo-background::after {
    content: "";
    display: block;
    width: 100%;
    height: 57px;
    background: url("../img/shape.svg") no-repeat center;
    margin-top: 21px;
}

.promo-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 43px;
    width: 500px;
}

.promo-subtitle {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 51px;
    width: 500px;
}

.advantages {
    grid-column: 1/4;
}

.advantage {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    display: flex;
}

.advantage-reverse {
    flex-direction: row-reverse;
}

.advantage-wrapper {
    padding: 47px;
}

.advantage-item {
    padding: 47px 71px;
    padding-bottom: 54px;
    background-color: var(--advantage-grey);
}

.advantage-title {
    display: block;
    font-size: 21px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 150px;
}

.advantage-number {
    margin: 0 auto;
    margin-bottom: 25px;
}

.advantage-description {
    margin: 0 auto;
}

.advantage-img {
    object-fit: cover;
}

.advantages-list,
.feature-list {
    list-style: none;
}

.advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.feature-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.feature-item {
    padding-bottom: 82px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 60px;
}

.feature-souvenirs {
    padding-top: 55px;
}

.feature-hotels::before {
    content: "";
    display: block;
    background: url("../img/icon-1.svg") no-repeat center;
    width: 100%;
    height: 72px;
    margin-bottom: 28px;
}

.feature-eat::before {
    content: "";
    display: block;
    background: url("../img/icon-3.svg") no-repeat center;
    width: 100%;
    height: 70px;
    margin-bottom: 28px;
}

.feature-souvenirs::before {
    content: "";
    display: block;
    background: url("../img/icon-2.svg") no-repeat center;
    width: 100%;
    height: 77px;
    margin-bottom: 28px;
}

.feature-title {
    margin: 0;
    margin-bottom: 25px;
}

.feature-description {
    margin: 0;
}

.search {
    grid-column: 1/4;
    padding-top: 56px;
}

.search-form-container {
    position: relative;
    width: 568px;
    margin: 0 auto;
    font-weight: 700;
    box-shadow: 0px 7px 15px var(--box-shadow-search-form);
}

.search-form {
    padding: 55px;
    position: absolute;
    box-shadow: 0px 7px 15px var(--box-shadow-search-form);
    background-color: var(--basic-white);
}

.date-container {
    margin-bottom: 29px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrival-date-input,
.leaving-date-input {
    margin: 0;
    padding: 0;
    position: relative;
    width: 346px;
    height: 38px;
    background-color: var(--background-grey);
    border: none;
    font-size: 14px;
    font-weight: 700;
    padding-left: 13px;
}

.arrival-date-input:hover,
.leaving-date-input:hover {
    background-color: var(--input-grey);
}

.arrival-date-input:focus,
.leaving-date-input:focus {
    background-color: var(--basic-white);
    padding-left: 11px;
    border: 2px solid var(--border-grey);
    outline: none;
}

.arrival-date-input::placeholder,
.leaving-date-input::placeholder,
.input-search-age::placeholder {
    color: var(--basic-black);
    text-transform: uppercase;
}

.input-search-age::-webkit-outer-spin-button,
.input-search-age::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-search-age[type="number"] {
    -moz-appearance: textfield;
}

.button-calendar {
    position: absolute;
    width: 21px;
    height: 23px;
    top: 7px;
    right: 9px;
    border: none;
    cursor: pointer;
}

.button-calendar:after {
    content: "";
    display: block;
    position: absolute;
    background: url("../img/calendar.svg") no-repeat center;
    width: 21px;
    height: 22px;
    right: 0;
    top: 0;
}

.button-calendar:hover:after,
.button-calendar:focus:after {
    background: url("../img/calendar-hover.svg") no-repeat center;
}

.button-calendar:active:after {
    background: url("../img/calendar-active.svg") no-repeat center;
}

.hotel-search-age {
    display: flex;
    margin-bottom: 52px;
}

.adult-search-container {
    display: flex;
    margin-right: auto;
}

.children-search-container {
    display: flex;
}

.age-adult {
    padding: 10px 0;
    margin-right: 42px;
}

.age-children {
    padding: 10px 0;
    margin-right: 27px;
}

.btn-search-age {
    position: relative;
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: var(--background-grey);
    cursor: pointer;
}

.input-search-age {
    height: 38px;
    padding: 0;
    margin: 0;
    width: 38px;
    border: none;
    background-color: var(--background-grey);
    text-align: center;
    font-weight: 700;
}

.search-title {
    display: block;
    width: 300px;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 32px;
    margin-left: 445px;
}

.search-description {
    line-height: 24px;
    margin: 0 auto;
    max-width: 568px;
    margin-bottom: 45px;
}

.search-description-text {
    display: block;
}

.search-button {
    color: var(--basic-white);
    background-color: var(--basic-brown);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    width: 568px;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.btn-search-age:after {
    content: "";
    width: 12px;
    height: 3px;
    display: block;
    position: absolute;
    background-color: var(--minus-grey);
    cursor: pointer;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.btn-search-age:hover:after,
.btn-search-age:focus:after {
    background-color: var(--basic-black);
}

.btn-search-age:active:after {
    background-color: var(--basic-blue);
}

.btn-search-age:nth-of-type(2n):before {
    content: "";
    width: 3px;
    height: 12px;
    display: block;
    position: absolute;
    background-color: var(--minus-grey);
    cursor: pointer;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
}

.btn-search-age:nth-of-type(2n):hover:before,
.btn-search-age:nth-of-type(2n):focus:before {
    background-color: var(--basic-black);
}

.btn-search-age:nth-of-type(2n):active:before {
    background-color: var(--basic-blue);
}

.search-button:hover,
.search-button:focus {
    background-color: var(--brown-hover);
}

.search-button:active {
    background-color: var(--brown-active);
    color: var(--white-active);
}

.btn-to-find {
    background-color: var(--basic-blue);
    width: 458px;
    padding-top: 15px;
    padding-bottom: 17px;
}

.btn-to-find:hover,
.btn-to-find:focus {
    background-color: var(--blue-hover);
}

.btn-to-find:active {
    background-color: var(--blue-active);
    color: var(--white-active);
}

.map {
    grid-column: 1/4;
    height: 594px;
    background-image: url(../img/map.png);
}

.map-image {
    display: block;
    width: 100%;
    max-width: 1200px;
}

.map-frame {
    width: 100%;
    min-height: 594px;
    border: none;
}

/*catalog*/

.filters {
    background: url("../img/background.jpg") no-repeat center;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    background-size: cover;
}

.filters-form {
    display: flex;
    padding-top: 26px;
    padding-bottom: 27px;
    padding-left: 72px;
    padding-right: 72px;
}

.filters-field {
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-right: 119px;
}

.right-filters-wrapper {
    margin-left: auto;
}

.filters-field-right {
    margin: 0;
}

.range-filter {
    position: relative;
    width: 317px;
}

.range-filter:before {
    content: "";
    width: 2px;
    height: 22px;
    position: absolute;
    display: block;
    top: 7px;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-bottom: 0 auto;
    background-color: var(--basic-white);
}

.filters-title {
    font-size: 16px;
    font-weight: 700;
}

.filters-title-right {
    margin-bottom: 12px;
}

.range-controls {
    position: relative;
    height: 20px;
    background-color: transparent;
    margin-bottom: 34px;
    padding-top: 20px;
}

.toggle {
    position: absolute;
    top: 46px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle-grey);
    cursor: pointer;
}

.toggle:hover,
.toggle:focus {
    width: 5px;
    height: 5px;
    border: 9px solid var(--basic-white);
    outline: none;
}

.scale {
    height: 2px;
    background-color: var(--white-active);
}

.bar {
    width: 80%;
    height: 2px;
    background-color: var(--basic-white);
}

.toggle-max {
    left: 251px;
}

.price-controls {
    border: 2px solid;
    border-radius: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.min-price {
    display: flex;
    align-items: baseline;
    width: 50%;
}

.max-price {
    display: flex;
    align-items: baseline;
    width: 50%;
}

.range-price-from {
    width: 50%;
    text-align: right;
    margin-right: 2px;
}

.range-price-to {
    width: 50%;
    text-align: right;
}

.min-price-input,
.max-price-input {
    background-color: transparent;
    border: none;
    color: var(--basic-white);
    width: 50%;
    outline: none;
}

.min-price-input::-webkit-outer-spin-button,
.min-price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.max-price-input::-webkit-outer-spin-button,
.max-price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.max-price-input[type="number"],
.min-price-input[type="number"] {
    -moz-appearance: textfield;
}

.filters-list {
    padding: 0;
    margin: 0;
}

.filters-item {
    list-style: none;
    margin-top: 25px;
    padding-left: 40px;
}

.filters-button {
    display: block;
    font-size: 14px;
    line-height: 21px;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    color: var(--basic-white);
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px 34px;
    margin-left: 83px;
    margin-bottom: 6px;
    border-radius: 2px;
}

.filters-button:hover,
.filters-button:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
    outline: none;
}

.checkbox-title {
    position: relative;
    display: block;
    cursor: pointer;
}

.checkbox-filters + .checkbox-title::before {
    content: "";
    position: absolute;
    display: block;
    width: 27px;
    height: 23px;
    left: -45px;
    background: url("../img/checkbox-off.svg") no-repeat center;
    cursor: pointer;
}

.checkbox-filters:checked + .checkbox-title::before {
    background: url("../img/checkbox-on.svg") no-repeat center;
    left: -43px;
}

.checkbox-filters:disabled + .checkbox-title::before {
    background: url("../img/checkbox-offdis.svg") no-repeat center;
    left: -45px;
}

.checkbox-filters:checked:disabled + .checkbox-title::before {
    background: url("../img/checkbox-ondis.svg") no-repeat center;
    left: -43px;
}

.checkbox-filters:focus-visible + .checkbox-title::before {
    outline: auto;
}

.results-wrapper {
    display: flex;
    grid-template-columns: min-content min-content 1fr 110px;
    border-bottom: var(--border-grey) solid 1px;
    margin: 0;
    padding-top: 31px;
    padding-bottom: 29px;
    padding-left: 73px;
    padding-right: 73px;
}

.results-count {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    width: 117px;
    margin-right: 46px;
    min-width: 117px;
}

.sorting-title {
    font-size: 12px;
    line-height: 18px;
    margin-right: 40px;
}

.sorting {
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    margin: 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    width: 100%;
    padding: 0;
}

.sorting-link {
    display: inline;
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-blue);
    color: var(--black);
    margin-right: 33px;
    display: block;
    margin-bottom: 5px;
}

.sorting-link:hover,
.sorting-link:focus {
    color: var(--basic-blue);
}

.sorting-link:active {
    color: var(--basic-black);
    opacity: 1;
    border-bottom: none;
}

.sorting-active {
    color: var(--basic-blue);
    opacity: 1;
    border-bottom: none;
}

.arrows {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    max-width: 34px;
    justify-content: space-between;
}

.increase {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 11px solid var(--arrow-grey);
    display: block;
    margin-top: 8px;
}

.decrease {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 11px solid var(--arrow-grey);
    display: block;
    margin-top: 8px;
}

.decrease.arrow-active {
    border-top: 11px solid var(--basic-blue);
}

.increase.arrow-active {
    border-bottom: 11px solid var(--basic-blue);
}

.increase:hover,
.increase:focus {
    border-bottom: 11px solid var(--basic-black);
}

.decrease:hover,
.decrease:focus {
    border-top: 11px solid var(--basic-black);
}

.increase:active {
    border-bottom: 11px solid var(--basic-blue);
}

.decrease:active {
    border-top: 11px solid var(--basic-blue);
}

.options-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.options-item {
    display: grid;
    grid-template-columns: 165px 1fr 200px;
    grid-gap: 14px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 58px;
    padding-right: 70px;
    border-bottom: var(--border-grey) solid 1px;
}

.options-content {
    text-align: left;
}

.options-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 7px;
    display: block;
    width: 260px;
}

.options-title:hover {
    color: var(--basic-blue);
}

.options-title:active {
    color: var(--black-transparent);
}

.options-img {
    padding-top: 6px;
}

.options-content-description {
    display: grid;
    grid-template-columns: 110px 145px;
    grid-column-gap: 6px;
    grid-row-gap: 15px;
}

.options-type {
    margin: 0;
}

.options-price {
    margin: 0;
}

.link-more,
.link-book {
    font-weight: 700;
    color: var(--basic-white);
    display: block;
    padding-top: 3px;
    padding-left: 16px;
}

.link-more {
    background-color: var(--basic-blue);
    padding-bottom: 3px;
}

.link-more:hover,
.link-more:focus {
    background-color: var(--blue-hover);
}

.link-more:active {
    background-color: var(--blue-active);
    color: var(--white-active);
}

.link-book {
    background-color: var(--basic-brown);
    margin-right: 3px;
}

.link-book:hover,
.link-book:focus {
    background-color: var(--brown-hover);
}

.link-book:active {
    background-color: var(--brown-active);
    color: var(--white-active);
}

.options-aside {
    display: flex;
    flex-direction: column;
}

.star-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 47px;
    margin-top: 5px;
    padding-right: 8px;
}

.star {
    margin-bottom: 10px;
    position: relative;
    width: 0;
    height: 0;
    border-bottom: 7px solid var(--basic-blue);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    margin-left: 18px;
}
.star:before,
.star:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
}
.star:before {
    top: 6px;
    left: -9px;
    border-right: 9px solid transparent;
    border-bottom: 6px solid var(--basic-blue);
    border-left: 9px solid transparent;
    transform: rotate(35deg);
}
.star:after {
    top: 6px;
    left: -9px;
    border-right: 9px solid transparent;
    border-bottom: 6px solid var(--basic-blue);
    border-left: 9px solid transparent;
    transform: rotate(-35deg);
}

.rate {
    color: var(--rate-grey);
    background-color: var(--background-grey);
    max-width: 110px;
    margin: 0;
    width: 100%;
    margin-left: 88px;
    padding: 3px 0;
}
